@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 221 83% 53%;
  --color-secondary: 270 95% 65%;
  --color-neutral: 215 20% 44%;
}

body {
  @apply bg-white text-neutral-800 font-sans;
}

h1, h2, h3 {
  @apply font-semibold text-primary;
}
